h1 {
    text-align: center;
    font-family: "Sofia", sans-serif;
    font-size: 120px;
    font-weight: normal;
    border: 5px solid green;
    background-color: aqua;
}
h2 {
    text-transform: uppercase;
    
}
body {
    background-color: #72D14C;
}
.container {
    position: relative;
}
p.episodios {
    color: aliceblue;
    position: absolute;
    bottom: 40px;
    left: 10px;
    border: 1px solid orange;
    border-radius: 15px;
    background-color: orange;
    padding: 3px;
    font-weight: bold
}
p.nombre {
    position: absolute;
    color: aliceblue;
    bottom: 3px;
    left: 10px;
    text-transform: uppercase;
    background-color: black;
}
